<form action="">
    
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Please Enter Your Name</mat-label>
        <input matInput placeholder="Placeholder" name="name" ngModel>
     
        <mat-hint>Full Name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Please Enter Your Email</mat-label>
        <input matInput placeholder="Placeholder" name="email" ngModel>
     
        <mat-hint>correct email</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Please Enter Your Password</mat-label>
        <input matInput placeholder="Placeholder" name="password" ngModel>
     
        <mat-hint>correct email</mat-hint>
      </mat-form-field>
    </p>
  
    <button mat-raised-button type="submit" color="primary">Update Data</button>
    
  </form>
