<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-12 col-lg-6 bg-primary m-1"    >
            <img src= alt="" class="img-fluid">
            <p></p>
        </div>
      
    </div>
  </div> -->


  <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col" *ngFor="let product of products">
            <app-dashboard-card [item]="product"></app-dashboard-card>
          </div>
      </div>
  </div>

  
